#!/bin/bash

# Set DPI and primary monitor settings
xrandr --dpi 192 \
  --output DP-0 --primary --mode 3840x2160 --rate 180 --rotate normal --pos 0x330 \
  --output HDMI-1 --mode 1920x1080 --rate 120 --scale 1.5x1.5 --rotate left --pos 3840x0


# Set brightness after display init
(sleep 5 && bash ~/.config/scripts/brightness.sh 1 87) &
(sleep 5 && bash ~/.config/scripts/brightness.sh 2 90) &

# Merge Xresources
xrdb -merge ~/.Xresources

# Scaling settings for GTK and Qt
export GDK_SCALE=1
export GDK_DPI_SCALE=1
export QT_AUTO_SCREEN_SCALE_FACTOR=1
export QT_SCREEN_SCALE_FACTORS="DP-0=2;HDMI-1=1"

# Wait for Magic Trackpad and apply settings
(
  while true; do
    DEVICE_ID=$(xinput list | grep "Apple Inc. Magic Trackpad 2" | grep -o 'id=[0-9]*' | cut -d= -f2)
    if [ -n "$DEVICE_ID" ]; then
      bash ~/.config/scripts/trackpad-setup.sh
      break
    fi
    sleep 1
  done
) &

